.rocketsList {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.rocket {
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.rocketImg {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.rocketImg > img {
  max-width: 100%;
  max-height: 100%;
}

.rocketDetails {
  width: 75%;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.rocketDesc {
  padding-top: 1rem;
}

.rocketReserveBtn {
  padding: 12px;
  width: 150px;
  text-align: center;
  margin-top: 1.5rem;
  background-color: #0084ff;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s all;
}

.rocketCancelBtn {
  padding: 12px;
  width: 160px;
  text-align: center;
  margin-top: 1.5rem;
  background-color: transparent;
  color: #4b4b4b;
  border: 2px solid #4b4b4b;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
}

.rocketReserveBtn:hover {
  background-color: #0063c0;
  transform: scale(0.98);
}

.reservedBanner {
  background: rgb(29, 165, 255);
  padding: 0.15rem 0.5rem;
  margin-right: 0.5rem;
  font-size: 0.9rem;
  border-radius: 5px;
  color: white;
}

@media only screen and (min-width: 980px) {
  .rocketName {
    font-size: 23px;
  }

  .rocketDesc {
    font-size: 20px;
    padding-top: 1.5rem;
  }

  .rocketReserveBtn {
    font-size: 16px;
  }
}
