* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.flex {
  display: flex;
  justify-content: center;
}

.navigation-list {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
}

.navigation-list ul {
  display: flex;
}

.navigation-list ul li {
  list-style: none;
  padding: 0 20px;
}

.member {
  width: 150px;
  border-radius: 5px;
  border: none;
  padding: 1px 3px;
  background-color: #26cccc;
  color: #fff;
  cursor: pointer;
}

.not-member {
  width: 150px;
  border-radius: 5px;
  border: none;
  padding: 1px 3px;
  background-color: #595b5b;
  color: #fff;
  cursor: pointer;
}

.Join-mission {
  width: 150px;
  border: 2px solid #898484;
  padding: 2px 10px;
  color: #898484;
  border-radius: 5px;
  background: #fff;
  cursor: pointer;
}

.leave-mission {
  width: 150px;
  border: 2px solid #ff0000;
  padding: 2px 10px;
  color: #ff0000;
  border-radius: 5px;
  background: #fff;
  cursor: pointer;
}
